<div class="main blue">
    <div class="wrap">
        <div class="row center-xs">
            <div class="col-xs">
                <h1>CONTACT</h1>
                <h3>get in touch with a Flatirons Recovery professional</h3>
            </div>
        </div>
    </div>
</div>


<div class="wrap">
    <form class="row">
        <div class="col-xs">
            <input type="text" name="firstName">
            <label>first name</label>
        </div>
        <div class="col-xs">
            <input type="text" name="lastName">
            <label>last name</label>
        </div>
        <div class="col-xs">
            <input type="text" name="email">
            <label>email</label>
        </div>
        <div class="col-xs">
            <input type="text" name="phone">
            <label>phone</label>
        </div>
        <div class="col-xs">
            <select name="referral">
                <option value="social media">social media</option>
                <option value="doctor/therapist">doctor/therapist</option>
                <option value="hospital system">hospital system</option>
                <option value="search engine">search engine</option>
                <option value="advertisement">advertisement</option>
                <option value="other">other</option>
            </select>
            <label>how'd you hear about us</label>
        </div>
        <div class="col-xs-12">
            <textarea name="message"></textarea>
            <label>message</label>
        </div>

        <div class="row">
            <div class="col-xs">
                <button class="button green" type="submit" value="submit"></button>
            </div>
        </div>
    </form>
</div>
