<style>
    .goodness {
        background-image: url('/assets/images/kid-jumping.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    .goodness h4 {
        font-size: 1.6rem;
        color: white;
    }
    .goodness h2 {
        color: white;
    }
    .goodness .gradient > div {
        margin: 3rem auto;
        text-align: inherit;
    }
</style>

<div class="goodness">
    <div class="gradient">
        <div class="wrap">
            <div class="row end-xs middle-xs">
                <div class="col-xs-12 col-sm-8">
                    <h2>Basic Goodness</h2>
                    <h4>Basic Goodness is the concept that we are—innately and forever—good at our core. We may be lost, or
                    trapped, or wounded. But never broken. Deep inside, we remain unshakably good, unshakably whole. Addiction doesn’t break
                    us.</h4>
                    <a class="button yellow" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
