<h2>Message Us</h2>
<p>To begin your healing journey from addiction simply fill out the form below, or call us at <a href="tel:719-626-1295" data-track="click: phone, click">719-626-1295</a>.</p>
<p>A member of our Admissions Team will reply to you as soon as possible to start the process, and to answer any questions that you may have about our treatment program.</p>
<p>If you’d like Flatirons Recovery to <a href="/admission#verify-insurance">verify your insurance</a>, you may do that at any time.</p>
