
<div class="wrap">
    <div class="row around-sm middle-sm start-sm center-xs">
        <div class="col-xs-12 col-sm-8 col-md-7">
            <h2>Subscribe To Our Newsletter!</h2>
            <p>Subscribe to our newsletter for Flatirons Recovery updates and addiction treatment resources.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 end-sm">
            <button id="subscribe-button" class="button blue">Click to Subscribe</button>
        </div>
    </div>
</div>

<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "bfe7c1f53f8461fdb9aaf1a05ca145a4"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->

<style>
    #subscribe-container {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        display: flex;
        cursor: pointer;
        position: fixed;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.1);
    }
    #subscribe-form {
        max-width: 900px;
    }
</style>

<div id="subscribe-container">
    <!-- Begin Constant Contact -->
    <div id="subscribe-form" class="ctct-inline-form" data-form-id="d7e7838e-b238-4efe-b2ab-73bf53c144f2"></div>
    <!-- End Constant Contact -->
</div>

<script>
    var sb = document.getElementById('subscribe-button');
    var sc = document.getElementById('subscribe-container');
    
    sc.addEventListener('click', function (e) {
        if (e.target !== sc) return;
        sc.style.opacity = '0';
        sc.style.zIndex = '-100';
        console.log('close');
    });

    sb.addEventListener('click', function () {
        sc.style.zIndex = '1';
        sc.style.opacity = '1';
    });

</script>