
<div class="wrap">
    <div class="row around-sm middle-sm start-sm center-xs">
        <div class="col-xs-12 col-sm-8 col-md-7">
            <h2>Subscribe To Our Newsletter!</h2>
            <p>Subscribe to our newsletter for Flatirons Recovery updates and addiction treatment resources.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 end-sm">
            <button id="subscribe-button" class="button blue">Click to Subscribe</button>
        </div>
    </div>
</div>

<script>var _ctct_m = "bfe7c1f53f8461fdb9aaf1a05ca145a4";</script>
<script id="signupScript" defer></script>

<style>
    #subscribe-container {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: flex;
        cursor: pointer;
        position: fixed;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.1);
    }
    #subscribe-loader {
        z-index: 2;
        width: 2rem;
        height: 2rem;
        position: fixed;
        border-radius: 50%;
        border: 0.5rem solid white;
        border-top: 0.5rem solid grey;
        animation: spin 2s linear infinite;
    }
    #subscribe-form {
        z-index: 3;
        max-width: 900px;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<div id="subscribe-container">
    <div id="subscribe-loader"></div>
    <div id="subscribe-form" class="ctct-inline-form" data-form-id="d7e7838e-b238-4efe-b2ab-73bf53c144f2"></div>
</div>

<script>
    var sb = document.getElementById('subscribe-button');
    var sc = document.getElementById('subscribe-container');
    var ss = document.getElementById('signupScript');

    sc.addEventListener('click', function (e) {
        if (e.target !== sc) return;
        sc.style.zIndex = '-1';
        sc.style.opacity = '0';
    });

    sb.addEventListener('click', function () {
        sc.style.zIndex = '1';
        sc.style.opacity = '1';
        ss.src = '//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js';
    });

</script>