
<form class="row">
    <div class="col-xs-12">
        <h2>Verify Insurance</h2>
        <h4>Complete form below to verify insurance benefits.</h4>
    </div>
    <div class="col-xs-12 col-sm-6">
        <label>first name</label>
        <input type="text" name="firstName" required>
    </div>
    <div class="col-xs-12 col-sm-6">
        <label>last name</label>
        <input type="text" name="lastName" required>
    </div>
    <div class="col-xs-12 col-sm-4">
        <label>email</label>
        <input type="text" name="email">
    </div>
    <div class="col-xs-12 col-sm-4">
        <label>phone</label>
        <input type="text" name="phone" required>
    </div>
    <div class="col-xs-12 col-sm-4">
        <label>how'd you hear about us</label>
        <select name="referral">
            <option value="none">none</option>
            <option value="social media">social media</option>
            <option value="doctor/therapist">doctor/therapist</option>
            <option value="hospital system">hospital system</option>
            <option value="search engine">search engine</option>
            <option value="advertisement">advertisement</option>
            <option value="other">other</option>
        </select>
    </div>

    <div class="col-xs-12">
        <label>message</label>
        <textarea name="message" required></textarea>
    </div>

    <div class="col-xs-12">
        <button class="button orange" type="submit">Submit</button>
    </div>
</form>
