:root {

    /*
    --white: #eee;
    --black: #222;
    --brown: #564138;
    --blue: #2e86ab;
    --yellow: #e8bc5b;
    --orange: #d38b5d;
    --green: #588157;
    */

    --white: 238, 238, 238;
    --black: 34, 34, 34;
    --brown: 86, 65, 56;
    --blue: 46, 134, 171;
    --yellow: 232, 188, 91;
    --orange: 211, 139, 93;
    --green: 88, 129, 87;

    --gradient: 135deg, rgba(var(--yellow), 0.7) 0%, rgba(var(--orange), 0.7) 30%, rgba(var(--blue), 0.7) 100%;

    scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
    color: inherit;
	font-size: 16px;
	box-sizing: border-box;
    word-break: break-word;
	font-family: 'Raleway', sans-serif;
}
body, html {
	overflow-x: hidden;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: rgb(var(--white));
}
footer {
    padding: 0.5rem 0;
    color: rgb(var(--white));
    background-color: rgb(var(--brown));
}
footer div {
    padding-top: 0.5rem;
}
h1 {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 3rem;
}
h3 {
    font-weight: 100;
    font-size: 1.5rem;
    text-transform: uppercase;
}
hr {
    background: white;
}
a {
    text-decoration: none;
}
p {
    margin: 0.5rem;
    padding: 0.5rem;
}
p, li {
    line-height: 1.5rem;
}
.nav-bar {
	color: white;
    background: rgb(var(--blue));
}
.nav-bar > ul {
	background: rgb(var(--blue));
}
.nav-icon > div {
    background: rgb(var(--blue));
}
.nav-list-main, .nav-list-sub  {
    background: rgb(var(--blue));
}
.wrap {
    max-width: 1440px;
	margin: auto;
	padding: 6vh 3vw;
}
.gradient {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--gradient));
}
.cover {
    height: 90vh;
    overflow: hidden;
    background-size: cover;
    color: rgb(var(--white));
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url("/assets/images/flatirons.jpg");
}

.button {
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
}
.button:hover {
    background-color: rgba(0,0,0,0.1);
}
.button.border {
    border-radius: 3px;
    border: 1px solid currentColor;
}

.badge {
	padding: 3px;
    border: none;
	filter: brightness(10);
    text-decoration: none;
}
.badge object {
	width: 48px;
    height: 48px;
    pointer-events: none;
	vertical-align: middle;
}
.badge:hover {
    background: none;
    filter: brightness(1);
}

.yellow {
    color: rgb(var(--white));
    background-color: rgb(var(--yellow));
}

.green {
    color: rgb(var(--white));
    background-color: rgb(var(--green));
}

.blue {
    color: rgb(var(--white));
    background-color: rgb(var(--blue));
}

.brown {
    background-color: rgb(var(--brown));
}
.orange {
    background-color: rgb(var(--orange));
}
