:root {

    /*
    --white: #eee;
    --black: #222;
    --brown: #564138;
    --blue: #2e86ab;
    --yellow: #e8bc5b;
    --orange: #d38b5d;
    --green: #588157;
    */

    --white: 238, 238, 238;
    --muted: 218, 218, 218;
    --black: 34, 34, 34;
    --brown: 86, 65, 56;
    --blue: 46, 134, 171;
    --yellow: 232, 188, 91;
    --orange: 211, 139, 93;
    --green: 88, 129, 87;

    --share-color: var(--white);
    --share-background: var(--blue);
    --call-color: var(--white);
    --call-background: var(--blue);

    --gradient: 135deg, rgba(var(--yellow), 0.8) 0%, rgba(var(--orange), 0.8) 30%, rgba(var(--blue), 0.8) 100%;

    scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
    color: inherit;
	font-size: 16px;
	box-sizing: border-box;
    overflow-wrap: break-word;
	font-family: 'Raleway', sans-serif;
    transition:
        background ease-in-out 200ms,
        background-color ease-in-out 200ms;
}
body, html {
    width: 100%;
	/* overflow-x: hidden; */
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: rgb(var(--white));
}
main {
    flex: 1 0;
}
header, main, footer {
    width: 100%;
}
footer {
    padding: 0.5rem 0;
    color: rgb(var(--black));
    background-color: rgb(var(--yellow));
}
h1 {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 4.6rem;
}
h2 {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 300;
}
h3 {
    padding: 0.5rem;
    font-weight: 100;
    font-size: 1.6rem;
    margin: 0 0.5rem;
    text-transform: uppercase;
}
h4 {
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.3rem;
}
p, li {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: 100;
}
ul, ol {
    margin-left: 1.6rem;
}
em, a, li {
    font-size: inherit;
}
label {
    display: block;
    margin: 0.5rem;
    font-size: 0.9rem;
    text-transform: capitalize;
}
legend {
    font-size: 1.5rem;
}
textarea {
    min-height: 100px;
    max-height: 250px;
}
form {
    padding: 0 1rem;
}
legend {
    margin-top: 2rem;
}
input, textarea, select {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: none;
    border-radius: 3px;
    border: 1px solid rgb(var(--black));
}
img {
    width: 100%;
}
hr {
    border: 0;
    height: 0;
    margin-top: 1rem;
    overflow: visible;
    margin-bottom: 1rem;
    box-sizing: content-box;
    border-top: 1px solid rgb(var(--muted));
}
header {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}
object {
    pointer-events: none;
}
summary {
    padding: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.3rem;
}
details {
    margin: 0.5rem 0;
    border-radius: 3px;
    border: 1px solid rgb(var(--muted));
}
.action {
	z-index: 1;
    right: 2vw;
    bottom: 154px;
    cursor: pointer;
    position: fixed;
	max-width: 63px;
	max-height: 63px;
    overflow: hidden;
    border-radius: 3rem;
    background-color: rgb(var(--blue));
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.action a {
    padding: 1rem;
    display: block;
}
.action object {
    width: 1.9rem;
    height: 1.9rem;
}

.action:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
}
.row {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}
.nav-bar {
	color: rgb(var(--black));
    border-bottom: 1px solid rgba(var(--black), 0.1);
}
.nav-bar a {
    font-weight: 500;
    text-decoration: none;
}
.nav-list-sub {
    min-width: 220px;
}
.nav-bar.active .nav-tool,
.nav-bar .nav-list-sub,
.nav-bar.active .nav-list-main {
    background: rgba(var(--white), 0.9);
}
.wrap {
	margin: auto;
	padding: 6vh 3vw;
    max-width: 1440px;
}
.main {
    height: 50vh;
    display: flex;
    justify-content: center;
    color: rgb(var(--black));
    background-position: center;
    background-repeat: no-repeat;
}
.main h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}
.main h3 {
    color: rgb(var(--white));
    background: rgb(var(--black));
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.gradient {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--gradient));
}
.gradient > div {
    margin-top: 6rem;
    text-align: center;
}
.gradient > div h3 {
    border-radius: 6px;
}
.cover {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    color: rgb(var(--black));
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url("/assets/images/cover.jpg");
}
.cover h1 {
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
    /* font-size: clamp(2rem, 100vw, 4rem); */
    font-size: max(2rem, min(10vw, 4rem));
}
.logo-holo {
    height: 5rem;
    padding: 0.5rem;
    display: block;
}
.logo-solid {
    width: 100%;
    display: block;
    padding: 0 2rem;
    max-height: 12rem;
}
.phone {
    display: block;
    padding: 0.5rem;
}
.phone svg {
    height: 2rem;
    width: 10rem;
    border-radius: 2rem;
}
.phone svg text {
    font-size: 1rem;
}
.phone svg path {
    display: none;
}
.button {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    margin: 0.6rem auto;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
.button:hover {
    cursor: pointer;
}
.button.border {
    border: 1px solid currentColor;
}

.badge {
	padding: 3px;
    border: none;
    text-decoration: none;
    display: inline-block;
	/* filter: brightness(10); */
}
.badge object {
	width: 48px;
    height: 48px;
    pointer-events: none;
	vertical-align: middle;
}
.badge:hover {
    background: none;
    /* filter: brightness(1); */
}

.yellow {
    color: rgb(var(--black));
    background-color: rgb(var(--yellow));
}
.green {
    color: rgb(var(--white));
    background-color: rgb(var(--green));
}
.blue {
    color: rgb(var(--white));
    background-color: rgb(var(--blue));
}
.brown {
    color: rgb(var(--white));
    background-color: rgb(var(--brown));
}
.orange {
    color: rgb(var(--black));
    background-color: rgb(var(--orange));
}
.muted {
    color: rgb(var(--black));
    background-color: rgb(var(--muted));
}
.black {
    color: rgb(var(--white));
    background-color: rgb(var(--black));
}

/*accordion*/
.accordion {
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgb(var(--muted));
}
.accordion > div {
    align-items: center;
    justify-content: space-between;
}
.accordion-head {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(var(--muted));
}
.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    border-bottom: 1px solid rgb(var(--muted));
}
.accordion-body:nth-last-child(1) {
    border-bottom: none;
}
.accordion-body p, .accordion-body li {
    margin: 1.5rem;
}
.accordion-body.active {
    max-height: 1500px;
}
.half-bg {
    min-height: 400px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.banner {
    width: 100%;
    color: white;
    background-color: rgb(var(--blue));
}
.banner > button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.banner > a {
    padding: 1rem;
    text-align: center;
    display: inline-block;
}
.tile {
    margin: 0.5rem auto;
    padding: 1rem;
    min-height: 400px;
}
@media screen and (max-width: 600px) {
    .phone svg {
        width: 2rem;
        height: 2rem;
    }
    .phone svg text {
        display: none;
    }
    .phone svg path {
        display: initial;
    }
}
@media screen and (max-height: 600px) {
    .main {
        height: 70vh;
    }
    .logo-solid {
        max-height: 6rem;
    }
    .cover h1 {
        font-size: 2rem;
    }
}
